{
    "postgresql": {
        "host": "localhost",
        "port": 5432,
        "database": "staplus",
        "user": "",
        "password": ""
    },
    "frostserver": {
        "rootURL": "http://localhost:8080/api/v1.1",
        "username": "admin",
        "password": ""
    },
    "arangodb": {
        "host": "localhost",
        "port": 8888,
        "databaseName": "",
        "userName": "",
        "password": ""
    },
    "bsURL": "",
    "licenses": {
        "CC BY": {
            "description": "Attribution 4.0 International (CC BY 4.0)",
            "definition": "https://creativecommons.org/licenses/by/4.0/",
            "logo": "https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by.png"
        },
        "CC BY-NC": {
            "description": "Attribution-NonCommercial 4.0 International (CC BY-NC 4.0)",
            "definition": "https://creativecommons.org/licenses/by-nc/4.0/",
            "logo": "https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc.eu.png"
        },
        "CC BY-NC-SA": {
            "description": "Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)",
            "definition": "https://creativecommons.org/licenses/by-nc-sa/4.0/",
            "logo": "https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-sa.eu.png"
        },
        "CC BY-SA": {
            "description": "Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)",
            "definition": "https://creativecommons.org/licenses/by-sa/4.0/",
            "logo": "https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-sa.png"
        },
        "GPL": {
            "description": "GNU General Public License",
            "definition": "https://www.gnu.org/licenses/gpl-3.0.en.html",
            "logo": "https://www.gnu.org/graphics/gplv3-127x51.png"
        },
        "PUBLIC": {
            "description": "Public domain",
            "definition": "",
            "logo": ""
        }
    },
    "test": {
        "frostserver": {
            "rootURL": "http://localhost:8080/api/v1.1",
            "username": "demo",
            "password": ""
        },
        "maxResponseTime": 500,
        "useCases": {
            "useCases": {
                "query": [
                    {
                        "url": "/Groups?$filter=(Observations/Datastream/ObservedProperty/name eq 'Taxon' and Observations/result eq 'Acer campestre L.')&$orderBy=created desc&$expand=Observations/Datastream/Party",
                        "description": "Observations dont la détermination initiale est 'Acer campestre L.'"
                    },
                    {
                        "url": "/Groups?$filter=(Observations/Datastream/ObservedProperty/name eq 'Taxon' and Observations/result eq 'Acer campestre L.')&$top=-1&$count=true",
                        "description": "Nombre d'observations dont la détermination initiale est 'Acer campestre L.'"
                    },
                    {
                        "url": "/Groups?$filter=(Observations/Datastream/ObservedProperty/name eq 'Taxon' and Observations/result gt ' ')&$orderBy=created desc&$top=10&$expand=Observations/Datastream/Party",
                        "description": "Observations dont la détermination initiale n'est pas vide"
                    },
                    {
                        "url": "/Groups?$filter=(Observations/Datastream/ObservedProperty/name eq 'Taxon' and Observations/result gt ' ')&$top=-1&$count=true",
                        "description": "Nombre d'observations dont la détermination initiale n'est pas vide"
                    },
                    {
                        "url": "/Groups?$filter=(Observations/Datastream/ObservedProperty/name eq 'Taxon' and Observations/result lt ' ')&$top=10&$expand=Observations/Datastream/Party&$orderBy=created desc",
                        "description": "Observations dont la détermination initiale est vide"
                    },
                    {
                        "url": "/Groups?$filter=(Observations/Datastream/ObservedProperty/name eq 'Taxon' and Observations/result lt ' ')&$top=-1&$count=true",
                        "description": "Nombre d'observations dont la détermination initiale est vide"
                    },
                    {
                        "url": "/Groups?$expand=Relations,Observations/FeatureOfInterest,Observations/Datastream/Party,Observations/Datastream/License,Observations/Datastream/Project&$filter=Observations/Datastream/Party/authId eq 102555894",
                        "description": "Toutes les obs de l'utilisateur PN 102555894"
                    },
                    {
                        "url": "/Groups?$filter=(Observations/FeatureOfInterest/properties/locality eq 'Montpellier')&$orderBy=created desc&$top=10&$expand=Observations/Datastream/Party,Observations/FeatureOfInterest",
                        "description": "Toutes les obs localisées à 'Montpellier'"
                    },
                    {
                        "url": "/Groups?$filter=geo.distance(Observations/FeatureOfInterest/feature, geography'POINT (3.88 43.608)') lt 0.01&$orderBy=created desc&$top=10&$expand=Observations/Datastream/Party,Observations/FeatureOfInterest",
                        "description": "Toutes les obs à moins d'1km de Tela Botanica"
                    },
                    {
                        "url": "/Groups?$filter=st_intersects(Observations/FeatureOfInterest/feature, geography'POLYGON ((3.88 43.51, 3.78 43.6, 3.86 43.7, 3.955 43.638, 3.965 43.55, 3.88 43.51))')&$orderBy=created desc&$top=10&$expand=Observations/Datastream/Party,Observations/FeatureOfInterest",
                        "description": "Toutes les obs dans un polygone représentant approximativement Montpellier Agglomération (st_intersects)"
                    },
                    {
                        "url": "/Groups?$filter=st_within(Observations/FeatureOfInterest/feature, geography'POLYGON ((3.88 43.51, 3.78 43.6, 3.86 43.7, 3.955 43.638, 3.965 43.55, 3.88 43.51))')&$orderBy=created desc&$top=10&$expand=Observations/Datastream/Party,Observations/FeatureOfInterest",
                        "description": "Toutes les obs dans un polygone représentant approximativement Montpellier Agglomération (st_within)"
                    },
                    {
                        "url": "/Groups?$orderBy=created desc&$expand=Observations/Datastream/Party,Observations/FeatureOfInterest&$top=100",
                        "description": "Observations triées par date décroissante, top 100"
                    },
                    {
                        "url": "/Groups?$orderBy=created desc&$expand=Observations/Datastream/Party,Observations/FeatureOfInterest&$top=100&$skip=100000",
                        "description": "Observations triées par date décroissante, skip 100k, top 100"
                    },
                    {
                        "url": "/Groups?$orderBy=created desc&$expand=Observations/Datastream/Party,Observations/FeatureOfInterest&$top=100&$skip=10000000",
                        "description": "Observations triées par date décroissante, skip 10M, top 100"
                    }
                ],
                "other": [
                    {
                        "url": "/Parties?$count=true&$top=-1",
                        "description": "Nombre d'utilisateurs"
                    },
                    {
                        "url": "/Parties?$orderby=id",
                        "description": "Tous les utilisateurs, triés par ID Frost"
                    },
                    {
                        "url": "/Parties?$orderby=name",
                        "description": "Tous les utilisateurs, triés par nom"
                    },
                    {
                        "url": "/Groups?$orderby=@iot.id desc&$top=1",
                        "description": "Observation la plus récente"
                    },
                    {
                        "url": "/Groups?$count=true&$top=-1",
                        "description": "Nombre d'observations"
                    },
                    {
                        "url": "/Groups?$filter=(Observations/Datastream/ObservedProperty/name eq 'Organ' and Observations/result eq 'leaf')&$top=-1&$count=true",
                        "description": "Nombre d'observations ayant un organe 'leaf'"
                    },
                    {
                        "url": "/Groups?$filter=Observations/phenomenonTime gt 2018-05-20T00:00:00.000Z and Observations/phenomenonTime lt 2018-05-21T00:00:00.000Z&$orderBy=created desc&$top=10&$expand=Observations/Datastream/Party,Observations/FeatureOfInterest",
                        "description": "Observations réalisées le 20 mai 2018"
                    }
                ]
            }
        }
    }
}
